
<div class="navbar navbar-default">

    <div class="container-fluid">
       <div class="navbar-header">
          <a class="navbar-brand"><span class="glyphicon glyphicon-cog navtext"><b>&nbsp;SkillCap</b></span></a>
       </div>
       <ul class="nav navbar-nav navbar-right">
          <li><a><span  class="glyphicon glyphicon-user navtext"></span><span class="navtext">Admin</span></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-out navtext"></span><span class="navtext">Logout</span></a></li>
       </ul>
    </div>
 </div>
 <div *ngIf="isChild" class="container-fluid">
 <div class="container">
   
       <div class="text-center">
        <h2 class="text-white">Effort/Resource Estimator</h2>
       </div>
    
 </div>
 <hr>
 <form id="demo-form1" data-parsley-validate class="form-horizontal form-label-left">
    <div class="form-group top-buffer">
       <label class="control-label  col-md-1 lfloat home_font" for="cr#">CR#<span class="required">*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
       <div class="col-md-2">
          <input type="number" id="cr#" required="required" [(ngModel)]="crNumber" name="crNumber" (blur)="onBlurMethod()" class="form-control">
       </div>
       <label class="control-label col-md-2 home_font" for="crname">CR Description<span class="required">*</span>
       </label>
       <div class="col-md-5">
          <input type="text" id="crname" required="required" [(ngModel)]="crName" name="crNm" class="form-control" value={{crName}}>
       </div>
    </div>
    <div class="form-group">
       <label class="control-label  col-md-1 home_font" for="mandays">Mandays<span class="required">*</span></label>
       <div class="col-md-2">
          <input type="number" id="mandays" required="required" class="form-control">
       </div>
       <label class="control-label col-md-2 lfloat home_font" for="sdate">Start Date<span class="required">*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
       </label>
       <div class="col-md-2">
          <input type="date" id="sdate" required="required" class="form-control">
       </div>
       <label class="control-label col-md-1 home_font" for="edate">End Date<span class="required">*</span>
       </label>
       <div class="col-md-2">
         <!-- <input type="date" id="edate" required="required" class="form-control date-picker">-->
         <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar" (click)="onClickDate()"></span>
                        </span>
        </div>
        <script type="text/javascript">
                $(function () {
                    $("#datetimepicker1").datetimepicker();
                });
            </script>
       </div>
    </div>
    <div class="form-actions">
       <button type="submit" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"><B>Find IA Effort and Proposals</B></button>
    </div>
    <div class="panel panel-default top-buffer" *ngIf="isCollapsed" class="ia_panel">
       <div class="panel-body">
          <div class="row">
             <div class="col-md-4 top-buffer">
                <div class="x_panel">
                   <h4 class="text-center"><b>{{countVal}}IA Effort Distribution</b></h4>
                   <table class="table table-bordered">
                      <thead>
                         <tr>
                            <th class="col-md-1 bg-primary text-white">Activity</th>
                            <th class="col-md-1 bg-primary text-white text-center">%</th>
                            <th class="col-md-1 bg-primary text-white text-center">Count</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td class="col-md-1"><b>Design</b></td>
                            <td class="col-md-1 text-center">30</td>
                            <td class="col-md-1 text-center">0</td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>Build</b></td>
                            <td class="col-md-1 text-center">10</td>
                            <!--<td class="col-md-1 text-center" id="ia_build">0</td>-->
                            <!--<a class = "button" class="btn btn-primary" (click)="onBack()">LOGIN</a>-->
                            <td class="col-md-1 text-center"><a  id="ia_build" (click)="toShow=!toShow;isChild=!isChild">{{j}}</a></td>
                           <!-- <td class="col-md-1 text-center"><a  id="ia_build" (click)="onTap()">0</a></td>-->
                            <!--<td class="col-md-1 text-center" id="ia_build">0</td>-->
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>ST</b></td>
                            <td class="col-md-1 text-center">10</td>
                            <td class="col-md-1 text-center">0</td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>SIT</b></td>
                            <td class="col-md-1 text-center">10</td>
                            <td class="col-md-1 text-center">0</td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>UAT</b></td>
                            <td class="col-md-1 text-center">10</td>
                            <td class="col-md-1 text-center">0</td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
             <div class="col-md-4 top-buffer">
                <div class="x_panel">
                   <h4 class="text-center"><b>Effective Proposal 1</b></h4>
                   <table class="table table-bordered">
                      <thead>
                         <tr>
                            <th class="col-md-1 bg-primary text-white">Activity</th>
                            <th class="col-md-1 bg-primary text-white text-center">Proposal</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td class="col-md-1"><b>Design</b></td>
                            <td class="col-md-1 text-center">AM(1)</td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>Build</b></td>
                            <td class="col-md-1 text-center">ASE(4),SE(1)</td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>Testing</b></td>
                            <td class="col-md-1 text-center">ASE(2),SE(1)</td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>TA</b></td>
                            <td class="col-md-1 text-center">SE(1)</td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
             <div class="col-md-4 top-buffer">
                <div class="x_panel">
                   <h4 class="text-center"><b>Effective Proposal 2</b></h4>
                   <table class="table table-bordered">
                      <thead>
                         <tr>
                            <th class="col-md-1 bg-primary text-white">Activity</th>
                            <th class="col-md-1 bg-primary text-white text-center">Proposal</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td class="col-md-1"><b>Design</b></td>
                            <td class="col-md-1 text-center">AM(1)</td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>Build</b></td>
                            <td class="col-md-1 text-center">ASE(2),SE(2)</td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>Testing</b></td>
                            <td class="col-md-1 text-center">ASE(2),SE(2)</td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>TA</b></td>
                            <td class="col-md-1 text-center">ASE(1),SE(1)</td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!--<div class="panel panel-default top-buffer" *ngIf="!isCollapsed">
       <div class="panel-body" *ngIf="!isCollapsed">
          <div class="row">
             <div class="col-md-4 top-buffer" *ngIf="!isCollapsed">
                <div class="x_panel">
                   <h5 class="text-center"><b>IA Effort Distribution</b></h5>
                   <table class="table table-bordered">
                      <thead>
                         <tr>
                            <th class="col-md-1 bg-primary text-white">Activity</th>
                            <th class="col-md-1 bg-primary text-white text-center">%</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td class="col-md-1"><b>Design</b></td>
                            <td class="col-md-1 text-center"></td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>Build</b></td>
                            <td class="col-md-1 text-center"></td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>ST</b></td>
                            <td class="col-md-1 text-center"></td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>SIT</b></td>
                            <td class="col-md-1 text-center"></td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>UAT</b></td>
                            <td class="col-md-1 text-center"></td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
             <div class="col-md-4 top-buffer" *ngIf="!isCollapsed">
                <div class="x_panel">
                   <h5 class="text-center"><b>Effective Proposal 1</b></h5>
                   <table class="table table-bordered">
                      <thead>
                         <tr>
                            <th class="col-md-1 bg-primary text-white">Activity</th>
                            <th class="col-md-1 bg-primary text-white text-center">Proposal</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td class="col-md-1"><b>Design</b></td>
                            <td class="col-md-1 text-center"></td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>Build</b></td>
                            <td class="col-md-1 text-center"></td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>Testing</b></td>
                            <td class="col-md-1 text-center"></td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>TA</b></td>
                            <td class="col-md-1 text-center"></td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
             <div class="col-md-4 top-buffer" *ngIf="!isCollapsed">
                <div class="x_panel">
                   <h5 class="text-center"><b>Effective Proposal 2</b></h5>
                   <table class="table table-bordered">
                      <thead>
                         <tr>
                            <th class="col-md-1 bg-primary text-white">Activity</th>
                            <th class="col-md-1 bg-primary text-white text-center">Proposal</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td class="col-md-1"><b>Design</b></td>
                            <td class="col-md-1 text-center"></td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>Build</b></td>
                            <td class="col-md-1 text-center"></td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>Testing</b></td>
                            <td class="col-md-1 text-center"></td>
                         </tr>
                         <tr>
                            <td class="col-md-1"><b>TA</b></td>
                            <td class="col-md-1 text-center"></td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>-->
    <!--<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"></form>-->
    <div class="form-group top-buffer">
       <label class="control-label col-md-1 home_font">Component</label>
       <div class="col-md-2">
          <select class="form-control">
             <option>--Please Select--</option>
             <option>Design</option>
             <option>Build</option>
             <option>Test(ST)</option>
             <option>Test(SIT)</option>
             <option>Test(UAT)</option>
             <option>TA</option>
          </select>
       </div>
       <label class="control-label col-md-2 home_font">Application</label>
       <div class="col-md-2">
          <select class="form-control">
             <option>--Please Select--</option>
             <option>OPOM</option>
             <option>ESOM</option>
             <option>SOS</option>
             <option>SOS SQ</option>
             <option>CMBS</option>
             <option>ICON</option>
             <option>DCS</option>
             <option>SYNERGY</option>
             <option>VMW-PX</option>
             <option>WSG</option>
             <option>NLT</option>
          </select>
       </div>
       <label class="control-label col-md-2 home_font">Skill</label>
       <div class="col-md-2">
          <select class="form-control">
             <option>--Please Select--</option>
             <option>Java</option>
             <option>Angular</option>
             <option>.Net</option>
             <option>PL/SQL</option>
             <option>SAP</option>
             <option>Mainframe</option>
             <option>NodeJs</option>
          </select>
       </div>
    </div>
    <div class="form-actions">
       <button type="submit" id="findRes" class="btn btn-primary" (click)="isResourceFetched = !isResourceFetched"><b>Find Resources</b></button>
    </div>
    <div class="row" class="ia_panel">
       <div class="col-md-12 top-buffer" *ngIf="isResourceFetched">
          <div class="x_panel">
             <h4 class="text-center"><b>Resource Details</b></h4>
             <table class="table table-bordered">
                <thead>
                   <tr>
                      <th class="col-md-1 bg-primary text-white text-center">Employee ID</th>
                      <th class="col-md-2 bg-primary text-white text-center">Employee Name</th>
                      <th class="col-md-1 bg-primary text-white text-center">Enterprise ID</th>
                      <th class="col-md-1 bg-primary text-white text-center">Component</th>
                      <th class="col-md-1 bg-primary text-white text-center">Application</th>
                      <th class="col-md-1 bg-primary text-white text-center">Primary Skill</th>
                      <th class="col-md-1 bg-primary text-white text-center">Secondary Skill</th>
                      <th class="col-md-1 bg-primary text-white text-center">Designation</th>
                      <th class="col-md-1 bg-primary text-white text-center">Comments</th>
                      <th class="col-md-1 bg-primary text-white text-center">Add/Remove</th>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                      <td class="col-md-1">10970912</td>
                      <td class="col-md-2" >Sampathkumar Shanmugam</td>
                      <td class="col-md-1"><a [routerLink] = "['/Sam']" class="mail" id="sampath">shan.sampathkumar</a></td>
                      <td class="col-md-1" class="comp">Build</td>
                      <td class="col-md-1">OPOM</td>
                      <td class="col-md-1">Java</td>
                      <td class="col-md-1">PL/SQL</td>
                      <td class="col-md-1">TL</td>
                      <td class="col-md-2">Trained in Angular 2</td>
                      <td class="col-md-1 text-center">
                          <a *ngIf="!isDisabled1" (click)='isDisabled1=true;e1Add($event)'><span class="glyphicon glyphicon-plus-sign plus_color"></span></a>
                          <a *ngIf="isDisabled1" (click)='isDisabled1=false;e1Remove($event)'><span  class="glyphicon glyphicon-minus-sign minus_color"></span></a>
                          
                        </td>
                   </tr>
                   <tr>
                        <td class="col-md-1">10970943</td>
                        <td class="col-md-2">Sintiya Anand</td>
                        <td class="col-md-1"><a [routerLink] = "['/Sam']" class="mail" id="sintiya">sintiya.ka</a></td>
                        <td class="col-md-1 comp">Build</td>
                        <td class="col-md-1">OPOM</td>
                        <td class="col-md-1">Java</td>
                        <td class="col-md-1">PL/SQL</td>
                        <td class="col-md-1">SSE</td>
                        <td class="col-md-2">Trained in Angular 2</td>
                        <td class="col-md-1 text-center">
                                <a *ngIf="!isDisabled2" (click)='isDisabled2=true;e1Add($event)'><span class="glyphicon glyphicon-plus-sign plus_color"></span></a>
                                <a *ngIf="isDisabled2" (click)='isDisabled2=false;e1Remove($event)'><span  class="glyphicon glyphicon-minus-sign minus_color"></span></a>
                                 </td>
                    </tr>
                     <tr>
                            <td class="col-md-1">10970966</td>
                            <td class="col-md-2">Soundariya Elumalai</td>
                            <td class="col-md-1"><a [routerLink] = "['/Sam']" class="mail">s.c.elumalai</a></td>
                            <td class="col-md-1 comp">Build</td>
                            <td class="col-md-1">OPOM</td>
                            <td class="col-md-1">Java</td>
                            <td class="col-md-1">PL/SQL</td>
                            <td class="col-md-1">SE</td>
                            <td class="col-md-2">Trained in Angular 2</td>
                            <td class="col-md-1 text-center">
                                    <a *ngIf="!isDisabled3" (click)='isDisabled3=true;e1Add($event)'><span class="glyphicon glyphicon-plus-sign plus_color"></span></a>
                                    <a *ngIf="isDisabled3" (click)='isDisabled3=false;e1Remove($event)'><span  class="glyphicon glyphicon-minus-sign minus_color"></span></a>
                                    </td>
                    </tr>
                   <tr>
                      <td class="col-md-1">10970915</td>
                      <td class="col-md-2">Sandeep ChandraBabu</td>
                      <td class="col-md-1"><a [routerLink] = "['/Sam']" class="mail">sandeep.chandrababu</a></td>
                      <td class="col-md-1 comp">Build</td>
                      <td class="col-md-1">OPOM</td>
                      <td class="col-md-1">Salesforce</td>
                      <td class="col-md-1">Java</td>
                      <td class="col-md-1">TL</td>
                      <td class="col-md-2">Trained in Angular 2</td>
                      <td class="col-md-1 text-center">
                            <a *ngIf="!isDisabled4" (click)='isDisabled4=true;e1Add($event)'><span class="glyphicon glyphicon-plus-sign plus_color"></span></a>
                            <a *ngIf="isDisabled4" (click)='isDisabled4=false;e1Remove($event)'><span  class="glyphicon glyphicon-minus-sign minus_color"></span></a>
                           </td>
                   </tr>
                   <tr>
                        <td class="col-md-1">10970988</td>
                        <td class="col-md-2">Namitha Kalaiselvam</td>
                        <td class="col-md-1"><a [routerLink] = "['/Sam']" class="mail">namitha.kalaiselvam</a></td>
                        <td class="col-md-1 comp">Build</td>
                        <td class="col-md-1">OPOM</td>
                        <td class="col-md-1">Salesforce</td>
                        <td class="col-md-1">Java</td>
                        <td class="col-md-1">SE</td>
                        <td class="col-md-2">Trained in Angular 2</td>
                        <td class="col-md-1 text-center">
                                <a *ngIf="!isDisabled5" (click)='isDisabled5=true;e1Add($event)'><span class="glyphicon glyphicon-plus-sign plus_color"></span></a>
                                <a *ngIf="isDisabled5" (click)='isDisabled5=false;e1Remove($event)'><span  class="glyphicon glyphicon-minus-sign minus_color"></span></a>
                                </td>
                     </tr>
                     <tr>
                            <td class="col-md-1">10970999</td>
                            <td class="col-md-2">Chandini Madhalam</td>
                            <td class="col-md-1"><a [routerLink] = "['/Sam']" class="mail">chandini.madhalam</a></td>
                            <td class="col-md-1 comp">Build</td>
                            <td class="col-md-1">OPOM</td>
                            <td class="col-md-1">Salesforce</td>
                            <td class="col-md-1">Java</td>
                            <td class="col-md-1">SE</td>
                            <td class="col-md-2">Trained in Angular 2</td>
                            <td class="col-md-1 text-center">
                                    <a *ngIf="!isDisabled6" (click)='isDisabled6=true;e1Add($event)'><span class="glyphicon glyphicon-plus-sign plus_color"></span></a>
                                    <a *ngIf="isDisabled6" (click)='isDisabled6=false;e1Remove($event)'><span  class="glyphicon glyphicon-minus-sign minus_color"></span></a>
                                    </td>
                         </tr>
                         <tr>
                                <td class="col-md-1">10970900</td>
                                <td class="col-md-2">Naveen Shakthivel</td>
                                <td class="col-md-1"><a [routerLink] = "['/Sam']" class="mail">naveen.sakthivel</a></td>
                                <td class="col-md-1 comp">Build</td>
                                <td class="col-md-1">SOS</td>
                                <td class="col-md-1">Java</td>
                                <td class="col-md-1">Angular</td>
                                <td class="col-md-1">SE</td>
                                <td class="col-md-2">Trained in Angular 2</td>
                                <td class="col-md-1 text-center">
                                        <a *ngIf="!isDisabled7" (click)='isDisabled7=true;e1Add($event)'><span class="glyphicon glyphicon-plus-sign plus_color"></span></a>
                                        <a *ngIf="isDisabled7" (click)='isDisabled7=false;e1Remove($event)'><span  class="glyphicon glyphicon-minus-sign minus_color"></span></a>
                                       </td>
                             </tr>
                             <tr>
                                    <td class="col-md-1">10970902</td>
                                    <td class="col-md-2">Shri Gayathri</td>
                                    <td class="col-md-1"><a [routerLink] = "['/Sam']" class="mail">shrigayathri.kg</a></td>
                                    <td class="col-md-1 comp">Build</td>
                                    <td class="col-md-1">SOS</td>
                                    <td class="col-md-1">Java</td>
                                    <td class="col-md-1">Angular</td>
                                    <td class="col-md-1">SE</td>
                                    <td class="col-md-2">Trained in Angular 2</td>
                                    <td class="col-md-1 text-center">
                                            <a *ngIf="!isDisabled8" (click)='isDisabled8=true;e1Add($event)'><span class="glyphicon glyphicon-plus-sign plus_color"></span></a>
                                            <a *ngIf="isDisabled8" (click)='isDisabled8=false;e1Remove($event)'><span  class="glyphicon glyphicon-minus-sign minus_color"></span></a>
                                            </td>
                                 </tr>
                                 <tr>
                                        <td class="col-md-1">10970901</td>
                                        <td class="col-md-2">TamilSelvi Ponnusamy</td>
                                        <td class="col-md-1"><a [routerLink] = "['/Sam']" class="mail">tamil.ponnusamy</a></td>
                                        <td class="col-md-1 comp">Build</td>
                                        <td class="col-md-1">SOS</td>
                                        <td class="col-md-1">Java</td>
                                        <td class="col-md-1">Angular</td>
                                        <td class="col-md-1">SE</td>
                                        <td class="col-md-2">Trained in Angular 2</td>
                                        <td class="col-md-1 text-center">
                                                <a *ngIf="!isDisabled9" (click)='isDisabled9=true;e1Add($event)'><span class="glyphicon glyphicon-plus-sign plus_color"></span></a>
                                                <a *ngIf="isDisabled9" (click)='isDisabled9=false;e1Remove($event)'><span  class="glyphicon glyphicon-minus-sign minus_color"></span></a>
                                                
                                        </td>
                                     </tr>
                                     <tr>
                                            <td class="col-md-1">10970819</td>
                                            <td class="col-md-2">Priya Natraj</td>
                                            <td class="col-md-1"><a [routerLink] = "['/Sam']" class="mail">n.priya</a></td>
                                            <td class="col-md-1 comp">Build</td>
                                            <td class="col-md-1">SOS</td>
                                            <td class="col-md-1">Angular</td>
                                            <td class="col-md-1">Java</td>
                                            <td class="col-md-1">SE</td>
                                            <td class="col-md-2">Trained in Angular 2</td>
                                            <td class="col-md-1 text-center">
                                                    <a *ngIf="!isDisabled10" (click)='isDisabled10=true;e1Add($event)'><span class="glyphicon glyphicon-plus-sign plus_color"></span></a>
                                                    <a *ngIf="isDisabled10" (click)='isDisabled10=false;e1Remove($event)'><span  class="glyphicon glyphicon-minus-sign minus_color"></span></a>
                                                       
                                            </td>
                                         </tr>
                                         <tr>
                                                <td class="col-md-1">10970802</td>
                                                <td class="col-md-2">Kumar Nallasamy</td>
                                                <td class="col-md-1"><a [routerLink] = "['/Sam']" class="mail">n.e.kumar</a></td>
                                                <td class="col-md-1 comp">Build</td>
                                                <td class="col-md-1">SOS</td>
                                                <td class="col-md-1">Angular</td>
                                                <td class="col-md-1">Java</td>
                                                <td class="col-md-1">SE</td>
                                                <td class="col-md-2">Trained in Angular 2</td>
                                                <td class="col-md-1 text-center">
                                                        <a *ngIf="!isDisabled11" (click)='isDisabled11=true;e1Add($event)'><span class="glyphicon glyphicon-plus-sign plus_color"></span></a>
                                                        <a *ngIf="isDisabled11" (click)='isDisabled11=false;e1Remove($event)'><span  class="glyphicon glyphicon-minus-sign minus_color"></span></a>
                                                        </td>
                                             </tr>
                                             <tr>
                                                    <td class="col-md-1">10970801</td>
                                                    <td class="col-md-2">Karthick Sandhanam</td>
                                                    <td class="col-md-1"><a [routerLink] = "['/Sam']" class="mail">s.karthick</a></td>
                                                    <td class="col-md-1 comp">Build</td>
                                                    <td class="col-md-1">SOS</td>
                                                    <td class="col-md-1">Angular</td>
                                                    <td class="col-md-1">Java</td>
                                                    <td class="col-md-1">SE</td>
                                                    <td class="col-md-2">Trained in Angular 2</td>
                                                    <td class="col-md-1 text-center">
                                                            <a *ngIf="!isDisabled12" (click)='isDisabled12=true;e1Add($event)'><span class="glyphicon glyphicon-plus-sign plus_color"></span></a>
                                                            <a *ngIf="isDisabled12" (click)='isDisabled12=false;e1Remove($event)'><span  class="glyphicon glyphicon-minus-sign minus_color"></span></a>
                                                              
                                                    </td>
                                                 </tr>
                </tbody>
             </table>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-md-12 top-buffer" *ngIf="!isResourceFetched">
          <div class="x_panel">
             <h5 class="text-center"><b>Resource Details</b></h5>
             <table class="table table-bordered">
                <thead>
                   <tr>
                    <th class="col-md-1 bg-primary text-white text-center">Employee ID</th>
                    <th class="col-md-2 bg-primary text-white text-center">Employee Name</th>
                    <th class="col-md-1 bg-primary text-white text-center">Enterprise ID</th>
                    <th class="col-md-1 bg-primary text-white text-center">Component</th>
                    <th class="col-md-1 bg-primary text-white text-center">Application</th>
                    <th class="col-md-1 bg-primary text-white text-center">Primary Skill</th>
                    <th class="col-md-1 bg-primary text-white text-center">Secondary Skill</th>
                    <th class="col-md-1 bg-primary text-white text-center">Designation</th>
                    <th class="col-md-1 bg-primary text-white text-center">Comments</th>
                    <th class="col-md-1 bg-primary text-white text-center">Add/Remove</th>
                   </tr>
                </thead>
             </table>
          </div>
       </div>
    </div>
    <div class="panel panel-default top-buffer" class="ia_panel">
        <div class="panel-body">
           <div class="row">
                <div class="col-md-3 top-buffer">
                        <div class="x_panel">
                           <h5 class="text-center"><b>Design</b></h5>
                           <table class="table table-bordered">
                              <thead>
                                 <tr>
                                    <th class="text-center">Enterprise ID</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr *ngFor="let field of designArray; let i = index">
                                    <td>{{field}}</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                     <div class="col-md-3 top-buffer">
                            <div class="x_panel">
                               <h5 class="text-center"><b>Build</b></h5>
                               <table class="table table-bordered">
                                  <thead>
                                     <tr>
                                        <th class="text-center">Enterprise ID</th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                     <tr *ngFor="let field of fieldArray; let i = index">
                                        <td>{{field}}</td>
                                     </tr>
                                  </tbody>
                               </table>
                            </div>
                         </div>
              <div class="col-md-3 top-buffer">
                    <div class="x_panel">
                       <h5 class="text-center"><b>Test</b></h5>
                       <table class="table table-bordered">
                          <thead>
                             <tr>
                                <th class="text-center">Enterprise ID</th>
                             </tr>
                          </thead>
                          <tbody>
                             <tr *ngFor="let field of testArray; let i = index">
                                <td>{{field}}</td>
                             </tr>
                          </tbody>
                       </table>
                    </div>
                 </div>
                 <div class="col-md-3 top-buffer">
                        <div class="x_panel">
                           <h5 class="text-center"><b>TA</b></h5>
                           <table class="table table-bordered">
                              <thead>
                                 <tr>
                                    <th class="text-center">Enterprise ID</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr *ngFor="let field of taArray; let i = index">
                                    <td>{{field}}</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
           </div>
        </div>
     </div>
 </form>
 </div>
 <suser-app *ngIf="toShow" (click)="toShow=!toShow;isChild=!isChild" [lastVal]="j" (update)="updateCount($event)" [fieldArray]="fieldArray"></suser-app>
 <!--<button *ngIf="toShow" (click)="toShow=!toShow;isChild=!isChild;onUpdateIA()">BACK</button>-->
 <!--<button *ngIf="toShow" (click)="toShow=!toShow;isChild=!isChild">BACK</button>-->
 