<div class="container">
        <h2 class="text-primary text-center">Profile</h2>
        <!--<img src="../assets/pic.jpg" class="pull-right img-responsive" alt=" Profile Photo" width="100"> -->
        <form id="demo-form1" data-parsley-validate class="form-horizontal form-label-left">
           <div class="form-group top-buffer">
              <label class="control-label  col-md-2" for="name">Name</label>
              <div class="col-md-4">
                 <input type="text" id="name"  class="form-control" placeholder="Ram">
              </div>
           </div>
           <div class="form-group">
              <label class="control-label  col-md-2" for="sap">SAP ID</label>
              <div class="col-md-4">
                 <input type="text" id="sap"  class="form-control"  placeholder="101">
              </div>
           </div>
           <div class="form-group top-buffer">
              <label class="control-label  col-md-2" for="eid">Enterprise ID</label>
              <div class="col-md-4">
                 <input type="text" id="eid"  class="form-control"  placeholder="ram@acc.com">
              </div>
           </div>
           <div class="form-group top-buffer">
              <label class="control-label  col-md-2" for="des">Designation</label>
              <div class="col-md-4">
                 <input type="text" id="des"  class="form-control"  placeholder="SE">
              </div>
           </div>
           <div class="form-group top-buffer">
              <label class="control-label  col-md-2" for="proj">Project</label>
              <div class="col-md-4">
                 <input type="text" id="proj" class="form-control" placeholder="PROJ-A">
              </div>
           </div>
           <div class="form-group top-buffer">
              <label class="control-label  col-md-2" for="app">Application</label>
              <div class="col-md-4">
                 <input type="text" id="app"  class="form-control" placeholder="SOS" >
              </div>
           </div>
           <div class="form-group top-buffer">
              <label class="control-label  col-md-2" for="wtype">Work Type</label>
              <div class="col-md-4">
                 <input type="text" id="wtype" class="form-control" placeholder="Test">
              </div>
           </div>
           <div class="form-group top-buffer">
              <label class="control-label  col-md-2" for="doj">Project DOJ</label>
              <div class="col-md-4">
                 <input type="text" id="doj" class="form-control" placeholder="06/04/2014">
              </div>
           </div>
           <div class="form-group top-buffer">
              <label class="control-label  col-md-2" for="rdate">Roll off Date</label>
              <div class="col-md-4">
                 <input type="text" id="rdate"  class="form-control" placeholder="06/04/2019">
              </div>
           </div>
           <div class="form-group">
                        <div class="text-center">
                           <!-- <a routerLink="/Inventory"><button type="submit" class="btn btn-primary" (click)="formSubmit()">LOGIN</button></a>
                              <router-outlet></router-outlet>-->
                           <!--<button type="submit" class="btn btn-primary">LOGIN</button>-->
                           <a class = "button" class="btn btn-primary" (click)="onBack()">BACK</a>
                        </div>
                     </div>
        </form>
     </div>