<div class="container">
        <h2 class="text-primary text-center">Resource Profile</h2>
        <div class="row">
                <div class="col-md-8">
                    <h3>Sampath Kumar</h3>
                </div>
            <div class="col-md-4">
        <img src="../assets/profpic.jpg" class="pull-right img-responsive" alt=" Profile Photo" width="100"> 
    </div>
</div>
<hr>
        <form id="demo-form1" data-parsley-validate class="form-horizontal form-label-left">
           <div class="form-group  top-buffer">
              <!--<label class="control-label  col-md-2" for="name">Name</label>
              <div class="col-md-4">
                 <input type="text" id="name"  class="form-control" placeholder="Sampath">
              </div>-->
           
           
              <label class="control-label  col-md-2" for="sap">SAP ID</label>
              <div class="col-md-4">
                 <input type="text" id="sap"  class="form-control"  placeholder="10970912">
              </div>
              <label class="control-label  col-md-2" for="exp">Experience</label>
              <div class="col-md-4">
                 <input type="text" id="exp"  class="form-control"  placeholder="7 years">
              </div>
           </div>
           <div class="form-group top-buffer">
              <label class="control-label  col-md-2" for="eid">Enterprise ID</label>
              <div class="col-md-4">
                 <input type="text" id="eid"  class="form-control"  placeholder="shan.sampathkumar@accenture.com">
              </div>
          
              <label class="control-label  col-md-2" for="des">Designation</label>
              <div class="col-md-4">
                 <input type="text" id="des"  class="form-control"  placeholder="TL">
              </div>
           </div>
           <div class="form-group top-buffer">
              <label class="control-label  col-md-2" for="proj">Project</label>
              <div class="col-md-4">
                 <input type="text" id="proj" class="form-control" placeholder="Singtel">
              </div>
          
              <label class="control-label  col-md-2" for="app">Application</label>
              <div class="col-md-4">
                 <input type="text" id="app"  class="form-control" placeholder="OPOM" >
              </div>
           </div>
           <div class="form-group top-buffer">
              <label class="control-label  col-md-2" for="wtype">Work Type</label>
              <div class="col-md-4">
                 <input type="text" id="wtype" class="form-control" placeholder="Build">
              </div>
           
              <label class="control-label  col-md-2" for="doj">Tower</label>
              <div class="col-md-4">
                 <input type="text" id="doj" class="form-control" placeholder="BSS">
              </div>
           </div>
           <div class="form-group top-buffer">
              <label class="control-label  col-md-2" for="rdate">Project DOJ</label>
              <div class="col-md-4">
                 <input type="text" id="rdate"  class="form-control" placeholder="06/04/2014">
              </div>
              <label class="control-label  col-md-2" for="doj">Roll off Date</label>
              <div class="col-md-4">
                 <input type="text" id="doj" class="form-control" placeholder="06/04/2019">
              </div>
           </div>
           <h3 class="text-primary">Skill List</h3>
        </form>
        <table class="table table-bordered">
                <thead>
                   <tr>
                      <th class="col-md-1 bg-primary text-white">Skills</th>
                      <th class="col-md-1 bg-primary text-white">Proficiency</th>
                      <th class="col-md-1 bg-primary text-white">Experience</th>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                      <td class="col-md-1"><b>Java</b></td>
                      <td class="col-md-1">P3 - Advanced</td>
                      <td class="col-md-1">5 Years</td>
                   </tr>
                   <tr>
                        <td class="col-md-1"><b>PL/SQL</b></td>
                        <td class="col-md-1">P1 - Novice</td>
                        <td class="col-md-1">2 Years</td>
                   </tr>
                   <tr>
                        <td class="col-md-1"><b>Angular 2</b></td>
                        <td class="col-md-1">P0 - Trained</td>
                        <td class="col-md-1">&lt; 1 Year</td>
                   </tr>
                   
                </tbody>
             </table>
             <div class="form-group">
                    <div class="text-center">
                       <!-- <a routerLink="/Inventory"><button type="submit" class="btn btn-primary" (click)="formSubmit()">LOGIN</button></a>
                          <router-outlet></router-outlet>-->
                       <!--<button type="submit" class="btn btn-primary">LOGIN</button>-->
                       <a class = "button" class="btn btn-primary" (click)="onBack()"><b>BACK</b></a>
                    </div>
                 </div>
     </div>