
     <body class="bgimage-suser abs-center-suser">
            <div class="container">
                        
                            <div class="text-center">
                             <h2 class="text-white">Resources Selected</h2>
                            </div>
                         
                      </div>
                      <hr>
            <div class="abs-center-login" class="row">
                 <div class="col-md-3 top-buffer">
                         <div class="x_panel">
                                   <h5 class="text-center"><b>Design</b></h5>
                            <table class="table table-bordered">
                               <thead>
                                  <tr>
                                     <th class="text-center">Enterprise ID</th>
                                  </tr>
                               </thead>
                               <tbody>
                                  <tr *ngFor="let field of designArray; let i = index">
                                     <td>{{field}}</td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>
                      </div>
                      <div class="col-md-3 top-buffer">
                             <div class="x_panel">
                                <h5 class="text-center"><b>Build</b></h5>
                                <table class="table table-bordered">
                                   <thead>
                                      <tr>
                                         <th class="text-center">Enterprise ID</th>
                                      </tr>
                                   </thead>
                                   <tbody>
                                      <tr *ngFor="let field of fieldArray; let i = index">
                                         <td>{{field}}</td>
                                      </tr>
                                   </tbody>
                                </table>
                             </div>
                          </div>
               <div class="col-md-3 top-buffer">
                     <div class="x_panel">
                        <h5 class="text-center"><b>Test</b></h5>
                        <table class="table table-bordered">
                           <thead>
                              <tr>
                                 <th class="text-center">Enterprise ID</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let field of testArray; let i = index">
                                 <td>{{field}}</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <div class="col-md-3 top-buffer">
                         <div class="x_panel">
                            <h5 class="text-center"><b>TA</b></h5>
                            <table class="table table-bordered">
                               <thead>
                                  <tr>
                                     <th class="text-center">Enterprise ID</th>
                                  </tr>
                               </thead>
                               <tbody>
                                  <tr *ngFor="let field of taArray; let i = index">
                                     <td>{{field}}</td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>
                      </div>
            </div>
            <div class="wrapper">
            <button class="button_pos ia_panel" (click)="onEmit()">BACK</button>
      </div>
      </body>