/* You can add global styles to this file, and also import other style files */
.navbar{
    background-image: url("./assets/nav_img7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 1400px 90px;
}
.navtext{
    color: white
}
.lfloat{
    text-align:left
}
.bgimage{
    background-image: url('/assets/skillcap8.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
body{
    height: 100%;
    color: white;
}
.abs-center{
    padding: 210px;
}
.abs-center-login{
    padding: 180px;
}
.abs-center-suser{
    padding-bottom: 400px;
}
.sklcp-title{
    margin-bottom:50px;
}
.login_center{
    text-align: center;
}
.plus_color{
    color:green;
}
.minus_color{
    color: red;
}
.ia_panel{
    color:black;
}
.wrapper{
    text-align:center;
}
.button_pos{
    position: absolute;
}
.home_font{
    font-size: 15px;
}
.bgimage-suser{
    background-image: url('/assets/skillcap8.jpg');
    /*height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: 95% 50%;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}